* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  background-color: #e7e4d5;
  font-family: "Helvetica Neue", "Open Sans", "Segoe UI", "Arial", sans-serif;

  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

.code {
  overflow: auto;
}

.prettyprint {
  font-family: "Consolas", "Source Code Pro", monospace;
  border: 0;
}

.main, .sidebar {
  padding: 2%;
}

::selection {
  background-color: #703e3b;
  color: #e7e4d5;
  text-shadow: none;
}

  ::-moz-selection {
    background-color: #703e3b;
    color: #e7e4d5;
    text-shadow: none;
  }

::-webkit-scrollbar {
  width: 10px;
}

  ::-webkit-scrollbar-track {
    background: #777465;
  }

    ::-webkit-scrollbar-track:hover {
      background: #979485;
    }

  ::-webkit-scrollbar-thumb {
    background-color: #7a0000;
  }

    ::-webkit-scrollbar-thumb:hover {
      background-color: #9a1314;
    }

  ::-webkit-scrollbar-corner {
    background: transparent;
  }

a {
  color: #703e3b;
  font-weight: bold;
  text-decoration: none;
}

.site-nav {
  display: none;
}

  @media all and (min-width: 800px) {
    .site-nav {
      background-color: #b13a3b;
      display: block;

      width: 100%;
      top: 0;
      position: relative;
      -webkit-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

      .nav-ul {
        margin: 0;
        padding: 0;
        list-style: none;
        height: 50px;
        width: auto;
      }

        .nav-item {
          color: #e7e4d5;
          text-decoration: none;
          font-weight: normal;
          line-height: 50px;

          padding: 14px 50px;
          height: 50px;
          margin: 0;

          -webkit-transition: background-color .25s ease;
             -moz-transition: background-color .25s ease;
              -ms-transition: background-color .25s ease;
               -o-transition: background-color .25s ease;
                  transition: background-color .25s ease;
        }

        .nav-item:hover, .nav-item:focus {
          background-color: #9a1314;
          outline: none;
        }

        .nav-item li {
          display: inline;
          height: 50px;
          margin: 0;
        }
  }

.main-header {
  background-color: #c84648;
  color: #e7e4d5;
  text-align: center;

  position: relative;
  top: 0;
  left: 0;
  padding: 2em 1em;
  width: 100%;
  min-height: 55px;
  height: auto;
}

  .main-header *::selection {
    background-color: white;
    color: #c84648;
  }

  .main-header *::-moz-selection {
    background-color: white;
    color: #c84648;
  }

  .site-logo {
    font-size: 1.8em;
    font-weight: bolder;
    text-transform: uppercase;
    word-wrap: break-word;

    margin: 0.45em 0;
    padding: 0;
  }

  .site-logo a {
    color: #e7e4d5;
  }

    @media all and (min-width: 240px) {
      .site-logo {
        font-size: 2em;
      }
    }

    @media all and (min-width: 350px) {
      .site-logo {
        font-size: 2.5em;
      }
    }

    @media all and (min-width: 500px) {
      .site-logo {
        font-size: 3em;
      }
    }

    @media all and (min-width: 800px) {
      .site-logo {
        font-size: 3.5em;
      }
    }

    /* IE Legacy support */

    .lt-ie9 .site-logo {
      font-size: 2.5em;
    }

div.code {
  border: 1px dashed #703e38;
  background-color: #d3c8b4;

  overflow: auto;
  padding: 1em;
  margin: 1em 0;
}

  div.code::-webkit-scrollbar {
    height: 10px;
  }

  div.code pre, span.code {
    font-family: "Consolas", monospace;
    margin: 0;
  }

/*
 * Prettyprint
 */

.pln {
  color: #000;
}

@media all {
  .str {
    color: #0f8000;
  }

  .kwd {
    color: #9c0b5d;
    font-style: italic;
  }

  .com {
    color: #800;
  }

  .typ {
    color: #606;
  }

  .lit {
    color: #066;
  }

  .pun, .opn, .clo {
    color: #000;
  }

  .tag, .atn {
    color: #002967;
  }

  .atv {
    color: #080;
  }

  .dec, .var {
    color: #606;
  }

  .fun {
    color: red;
  }
}

/*
 * Docs
 */

.method.item {
  border-bottom: 1px dashed #703e3b;
  padding: 4% 0;
}
