html, body, div, span, applet, object, iframe, h1, h2, h3, h4, 
h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, 
code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, 
sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, 
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, 
article, aside, canvas, details, embed, figure, figcaption, footer, 
header, hgroup, menu, nav, output, ruby, section, summary, time, mark, 
audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  outline: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, 
menu, nav, section { display: block; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong { font-weight: bold; } 

input { outline: none; }

table { border-collapse: collapse; border-spacing: 0; }
img { border: 0; max-width: 100%; }

a { text-decoration: none; }
a:hover { text-decoration: underline; }

header.banner {
  height: 80px;
  margin: 0 auto;
  width: 100%;
  left: 0;
  top: 0;

  background-color: #fff;
  border-bottom: 1px solid #444;
}

header.banner .left, header.banner .right {
  display: inline;
}

header.banner .left {
  left: 0;
  width: 20%;
  padding: 0 20px;
}

header.banner .left a {
  font-family: "Adobe Caslon Pro", serif;
  font-size: 40px;
  line-height: 80px;
  color: #444444;
  text-align: left;
}

header.banner .left a:hover {
  color: white;
  -webkit-text-stroke: 1px #444444;
  text-decoration: none;
}

header.banner .right {
  right: 0;
  width: 80%;
}

.verinfo { display: inline; line-height: 80px;}